.container {
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  animation: gradient 9s ease infinite;
  background-size: 400% 400%;
  height: 100vh;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* margin-top: 50px; */
}

.boxImg {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.image {
  transform: rotate(10deg);
  border-radius: 10%;
  border: 2px solid #c2c2c2;
  width: 0;
  overflow: hidden;
  animation: slideIn 2s ease forwards;
  box-shadow: -5px -5px 5px rgba(50, 47, 47, 0.5),
    3px 3px 5px rgba(71, 69, 69, 0.12);
  backdrop-filter: blur(25px);
}

@keyframes slideIn {
  to {
    width: 250px;
  }
}

.image1 {
  border-radius: 10px;
  transform: rotate(10deg);
  width: 0;
  overflow: hidden;
  animation: slideIn 2s ease forwards;
  border: 2px solid #c2c2c2;
  box-shadow: -5px -5px 5px rgba(50, 47, 47, 0.5),
    3px 3px 5px rgba(71, 69, 69, 0.12);
  backdrop-filter: blur(25px);
}

.image2 {
  border-radius: 10px;
  transform: rotate(-10deg);
  width: 0;
  overflow: hidden;
  animation: slideIn 2s ease forwards;
  border: 2px solid #c2c2c2;
  box-shadow: -5px -5px 5px rgba(50, 47, 47, 0.5),
    3px 3px 5px rgba(71, 69, 69, 0.12);
  backdrop-filter: blur(25px);
}

.boxBtn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  font-weight: 500;
  width: 200px;
  height: 40px;
  padding: 0.625rem 1.875rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 50px;
  z-index: 1;
}

.button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.button:before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.description {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 18px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: 500;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
}

.title {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 480px) {
  .boxBtn {
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .boxImg {
    flex-direction: row;
    justify-content: center;
  }

  .title {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .boxImg {
    gap: 70px;
  }
}

/* @media screen and (min-width: 1280px) {
  .boxImg {
    gap: 300px;
  }

  .description {
    margin-bottom: 50px;
  }

  .image {
    transform: rotate(0deg);
  }

  .title {
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  }
} */

@media screen and (min-width: 1280px) {
  .container {
    padding: 20px;
    width: 100vw;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .boxBtn {
    gap: 20px;
  }

  .boxImg {
    flex-direction: column;
    gap: 100px;
  }

  .image {
    transform: rotate(0deg);
  }

  .image1 {
    transform: rotate(20deg);
  }

  .image2 {
    transform: rotate(-20deg);
  }

  .description {
    width: 50%;
  }
}
